.task-container {
  background-color: #444;
  margin: 8px 20px;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #eee;
  align-items: center;
}

.task-title {
  cursor: pointer;
}

.remove-task-button {
  background-color: #444;
  border: none;
  color: chartreuse;
  font-size: 16px;
}
