.container-add-tasks {
  margin: 20px 0px;
  padding: 0 20px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.add-task-input {
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  margin: 6px;
  flex: 2;
  background-color: #444;
  color: #eee;
  font-size: 16px;
}

.add-task-button {
  margin: 10px 0 0 10px;
  flex: 1;
}

label {
  color: white; 
  display: block;
}